@import url("https://fonts.googleapis.com/css?family=Abril+Fatface|Black+Ops+One|Oswald");
body {
  background-color: #D2B887;
}
.navbar {
  border-radius: 0;
  background: black;
}
.row {
  background: black;
  padding: 15px;
  color: white;
}
.Header {
  font-size: 3em;
  font-family: 'Black Ops One', cursive;
  text-align: center;
}
tbody {
  background: grey;
  font-family: 'Oswald', sans-serif;
}
th {
  font-size: 2em;
  font-family: 'Abril Fatface', cursive;
}
.User img {
  height: 25%;
}
.User {
  font-size: 1.3em;
}
.User a:link, .User a:visited {
  color: black;
}
